<html>
    <head>
        <title>User</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        <input type=button value="Back" onClick="javascript:history.go(-1);">

        <h1>{{user.username}}</h1>
        {% if reviews %}
            {% for review in reviews %}
                <li>
                    <strong>{{ review.title }}</strong>  {{ review.star_rating }} Stars
                    <p>"{{ review.text }}"</p>
                    {% if user_id == user.id %}
                        <a href="{% url 'delete_review' review.auth_id review.spotify_id review.title %}">Delete Review</a>
                    {% endif %}
                    <br><br>
                </li>
            {% endfor %}
        {% else %}
            <p>This user has no reviews...</p>
        {% endif %}
    </body>
</html>