<html>
    <head>
        <title>User Search</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ user_form }}
            <input type="submit" value="Submit">
        </form>
        <ul>
            {% if search_results %}
                {% for media_item in search_results %}
                    <li><strong>Author: </strong>{{ media_item.user }}, <li>{{ media_item.review.title }},  <br><strong>Rating: </strong>{{ media_item.star_rating }}</li>
                    <body>{{media_item.text}}</body>
                {% endfor %}
            {% else %}
                <p>No results...</p>    
            {% endif %}
        </ul>
    </body>
</html>