<html>
    <head>
        <title>User Search</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ user_form }}
            <input type="submit" value="Submit">
        </form>
        <ul>
            {% if user_results %}
                {% for media_item in user_results %}
                    <li><strong>User: </strong>{{ media_item.first }} {{media.item.last}}
                    <body>{{media_item.text}}</body>
                {% endfor %}
            {% else %}  
                <p>No results...</p>    
            {% endif %}
        </ul>
    </body>
</html>