@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

#songs-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

#albums-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.top-songs {
    width: 100%;
    height: auto;
}

.top-albums {
  width: 100%;
  height: auto;
}