@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

.page-dimensions {
  padding-top: 20px;
  /*padding-bottom: 52px;*/
}

#songs-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
}

#albums-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
}

.top-songs {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.top-albums {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

#featured-review {
  width: 300px;
  height: auto;
  padding-left: 15px;
}

.display-box {
  display: flex;
  padding: 20 15 20 10;
  background-color: lightgray;
}

#review-info {
  padding-left: 15px;
}

.text-header {
  text-align: center;
}

.content-divider {
  padding-bottom: 50px;
}