@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

.page-dimensions {
  padding-top: 20px;
  /*padding-bottom: 52px;*/
}

#songs-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
}

#albums-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  gap: 50px;
}

.top-songs {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.top-albums {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

#featured-review {
  width: 300px;
  height: auto;
  padding-left: 15px;
}

.display-box {
  display: flex;
  padding: 20 15 20 10;
  background-color: lightgray;
}

#review-info {
  padding-left: 15px;
}

.text-header {
  text-align: center;
}

.content-divider {
  padding-bottom: 50px;
}

.button {
  font-family: "Ubuntu", sans-serif;
  background-color: #8f71b1;
  border: none;
  color: white;
  padding: 4px 12px;
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 3px white;
  border-radius: 8px;
  margin-left: 10px;
}