<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/home.css' %}" />
        <title>Home</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}

        <div id="songs-grid">
            <span>{{top5media.0.name}}, {{top5media.0.overall_rating}}<img class='top-songs' src="{{top5songs_albums.0.album_art}}"></span>
            <span>{{top5media.1.name}}, {{top5media.1.overall_rating}}<img class='top-songs' src="{{top5songs_albums.1.album_art}}"></span>
            <span>{{top5media.2.name}}, {{top5media.2.overall_rating}}<img class='top-songs' src="{{top5songs_albums.2.album_art}}"></span>
            <span>{{top5media.3.name}}, {{top5media.3.overall_rating}}<img class='top-songs' src="{{top5songs_albums.3.album_art}}"></span>
            <span>{{top5media.4.name}}, {{top5media.4.overall_rating}}<img class='top-songs' src="{{top5songs_albums.4.album_art}}"></span>
        </div>

    </body>
</html>