<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/navbar.css' %}" />
</head>
<body>

<div id="header">

  <div id="title-container">

    <div id="logo">
      <h1>SLEEVES</h1>
    </div>

    <img id='record-logo' src="../../static/images/record.png">

    {% if user.is_authenticated %}
    <div class="right-info">
      <span class="username">{{user.username}}</span>
    </div>
    <a href="{% url 'logout' %}">
      <img id='logout-button' src="../../static/images/logout-button.png" title="Logout">
    </a>
    {% else %}
    <div class="right-info">
      <a href="{% url 'login' %}">
        <button class="button">LOGIN</button>
      </a>
    </div>
    {% endif %}

  </div>

  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
      <li><a class="nav-link scrollto" href="{% url 'search_media' %}">Search Media</a></li>
      <li><a class="nav-link scrollto" href="{% url 'search_user' %}">Search Users</a></li>
      {% if user.is_authenticated %}
        <li><a class="nav-link scrollto" href="{% url 'create_rating' %}">Add a Review</a></li>
        <li><a class="nav-link scrollto" href="{% url 'user_page' user.id %}">Profile</a></li>
      {% endif %}
    </ul>
  </nav>

</div>


</body>
</html>