<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/navbar.css' %}" />
</head>
<body>

<div id="header">

  <div id="title-container">
    <img id='record-logo' src="../../static/images/record.png">
    <div id="logo">
      <h1>Sleeves</h1>
    </div>
  </div>

  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
      <li><a class="nav-link scrollto" href="{% url 'search_media' %}">Search Media</a></li>
      <li><a class="nav-link scrollto" href="{% url 'search_user' %}">Search Users</a></li>
      {% if user.is_authenticated %}
        <li><a class="nav-link scrollto" href="{% url 'create_rating' %}">Add a Review</a></li>
        <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
        <li><a class="nav-link scrollto" href="{% url 'user_page' user.id %}">{{user.username}}</a></li>
      {% else %}
        <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>

</div>


</body>
</html>