<html>
    <head>
        <title>Search</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        <input type=button value="Back" onClick="javascript:history.go(-1);">
        <form method="post">
            {% csrf_token %}
            {{ search_form }}
            <input type="submit" value="Submit">
        </form>
        <ul>
            {% if search_results %}
                {% for media_item in search_results %}
                    {% if media_item.type == "album" or media_item.type == "track" %}
                        {% if media_item.type == "album" %}
                            <li><strong>{{media_item.album_type.capitalize}}: </strong>
                        {% elif media_item.type == "track" %}
                            <li><strong>Song: </strong>
                        {% endif %}
                        <span><a href="{% url 'media_page' media_item.spotify_id%}">{{ media_item.name }}</a> by {{ media_item.artist_name }}</span>
                        <div><strong>Rating: </strong>{{ media_item.overall_rating }}</div>
                        <img src = "{{ media_item.album_art }}">
                        </li>
                    {% elif media_item.type == "show" or media_item.type == "episode" %}
                        {% if media_item.type == "show" %}
                            <li><strong>Podcast: </strong>
                        {% elif media_item.type == "episode" %}
                            <li><strong>Episode: </strong>
                        {% endif %}
                        <span><a href="{% url 'media_page' media_item.spotify_id%}">{{ media_item.name }}</a> by {{ media_item.producer }}</span>
                        <div><strong>Rating: </strong>{{ media_item.overall_rating }}</div>
                        <img src = "{{ media_item.image }}">
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No results...</p>    
            {% endif %}
        </ul>
    </body>
</html>