<html>
    <head>
        <title>User Search</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        <input type=button value="Back" onClick="javascript:history.go(-1);">
        <form method="post">
            {% csrf_token %}
            {{ user_form }}
            <input type="submit" value="Submit">
        </form>
        <ul>
            {% if user_results %}
                {% for user in user_results %}
                    <li><strong>User: </strong><a href="{% url 'user_page' user.id %}">{{ user.first }} {{ user.last}}</a>
                {% endfor %}
            {% else %}  
                <p>No results...</p>    
            {% endif %}
        </ul>
    </body>
</html>