<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'search/user_search.css' %}" />
        <title>User Search</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        <div id="page-dimensions">
            <br><br><br><br><br>
            <form class="text" method="post">
                {% csrf_token %}
                {{ user_form }}
                <input type="submit" class="button" value="Submit">
            </form>

                {% if user_results %}
                    <div class="center-boxes">
                    <h3 class="text">Results</h3>
                    <!--<div style="text-align: left; padding-left: 47.2%;"> -->
                        {% for user in user_results %}
                            <div class="media-display-box">
                                <div><a href="{% url 'user_page' user.id %}">{{ user.username }}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No results...</p>
                {% endif %}
        </div>
    </body>
</html>