<html>
    <head>
        <title>Create Rating</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}
        <input type=button value="Back" onClick="javascript:history.go(-1);">
        <h1>Create Rating</h1>
        <form method="post">
            {% csrf_token %}
            {{ rate_form }}
            <input type="submit" value="Submit">
        </form>

        {% if init %}
            {% if success %}
                <p>Rating created by {{user.first}}, {{user.last}}</p>
            {% else %}
                <p>There was a problem creating your review... Is it a duplicate?</p>
            {% endif %}
        {% endif %}
    </body>
</html>