@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

#album-art {
  width: 300px;
  height: auto;
}
