@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

#album-art {
  width: 300px;
  height: auto;
}

#page-dimensions {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.media-info {
  padding-left: 15px;
}

.display-box {
  display: flex;
  padding: 20 15 20 10;
  background-color: lightgray;
}