<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'artist_page/artist_page.css' %}" />
        <title>Sleeves</title>
    </head>
    <body>
        {% include 'homepage/navbar.html' %}

        <div id="page-dimensions">
            <input type=button class="button" value="Back" onClick="javascript:history.go(-1);">
            <br><br>

            <h1>{{artist.artist_name}}</h1>
            <img id="profile-pic" src="{{artist.image}}">

            <br><br>
            <div>
                <a href="https://open.spotify.com/artist/{{artist.artist_id}}">
                    <button class="button">Link to Spotify</button>
                </a>
            </div>
        </div>
    </body>
</html>